.Footer {
  background-color: #f5f5f5;
}
.Footer_inner {
  max-width: 1550px;
  height: 100%;
  margin: 0 auto;
}
.Footer_container {
  height: 300px;
  padding: 160px 0;
  display: flex;
}
.Footer_contact-1 {
  width: 50%;
}
.Footer_contact-2 {
  width: 25%;
}
.Footer_contact-3 {
  width: 25%;
}
.Footer_contact-title {
  max-width: 37.5rem;
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.42;
}
.Footer_contact-text {
  margin-bottom: 2.1875rem;
  margin-top: 1.5625rem;
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.42;
}
.Footer_contact-adress {
  font-size: 1.5rem;
  margin: 0 0 1.875rem;
  color: #666;
}
.Footer_contact-email {
  font-size: 2.5rem;
}

.Footer_contact-2 h4 {
  margin-bottom: 2.5rem;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.3;
}
.Footer_contact-2 ul a {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}
.Footer_contact-2 ul li+li {
  margin-top: 1.375rem;
}

.Footer_contact-3 h4 {
  margin-bottom: 2.5rem;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.3;
}
.Footer_contact-3 ul a {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}
.Footer_contact-3 ul li+li {
  margin-top: 1.375rem;
}