.Section4_inner{
  max-width: 1550px;
  height: 100%;
  margin: 0 auto;
}
.Section4_pd{
  padding: 160px 0;
}
.Section4_container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Section4_top{
  height: 88px;
}
.Section4_top h2{
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 700;
} 
.Section4_bottom{
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
.Section4_bottom-approach{
  width: 32%;
  border-top: 2px solid black;
}
.Section4_approach-title{
  padding-top: 60px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}
.Section4_approach-title h3{
  margin-top: 0.3125rem;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.2;
}
.Section4_approach-description{
  font-size: 1.125rem;
  margin-top: 2.5rem;
}
.Section4_approach-description p{
  margin: 0 0 1.875rem;
}