/*================= Section1 start =================*/
.Section1{
  background-color: #fa4529;
}
.Section1_inner{
  max-width: 1550px;
  height: 160vh;
  margin: 0 auto;
  display: flex;
}
.Section1_left{
  width: 70%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Section1_right{
  width: 30%;
}

.Section1_left-title{
  width: 80%;
  margin-left: 20px;
}
.Section1_left-title h1{
  font-size: 230px;
}

.Section1_left-text1{
  width: 80%;
  height: 120px;
  margin-left: 20px;
  align-items: center;
}
.Section1_left-text1 p{
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 1.875rem;
  color: white;
}


.Section1_left-text2{
  width: 80%;
  height: 170px;
  padding-top: 50px;
  margin-left: 20px;
}
.Section1_left-text2 p{
  font-size: 4.375rem;
  line-height: 1.1;
  font-weight: 800;
  color: white;
  margin: 0 0 1.875rem;
}
.Section1_left-text3{
  width: 60%;
  padding: 40px 0 20px 0;
  border-bottom: 2px solid black;
  margin-left: 20px;
}

.Section1_left-text4{
  width: 50%;
  height: 100px;
  margin-left: 20px;
}
.Section1_left-text4 p{
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0 0 1.875rem;
}
.Section1_left-site{
  width: 50%;
  height: 100px;
  margin: 100px 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.Section1_left-btn{
  width: 80px;
  text-align: center;
  padding: 23px 45px;
  border: 1px solid black;
}



/*================= Section1 end =================*/

