.Section3{
  background-color: #fa4529;
}
.Section3_inner {
  max-width: 1550px;
  height: 100%;
  margin: 0 auto;
}
.Section3_container{
  height: 690px;
  padding-bottom: 160px;
}
.Section3_top{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Section3_top-title{
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.1;
}
.Section3_top-list{
  display: flex;
}
.Section3_top-list img {
  padding: 0 70px 0 10px;
  width: 30px;
  height: 24px;
}
.Section3_bottom{
  margin-top: 100px;
}
.Section3_bottom-container{
  height: 510px;
  display: flex;
  justify-content: space-between;
}
.Section3_bottom-card{
  width: 30%;
  height: 100%;
}
.Section3_bottom-item{
  width: 100%;
  height: 80%;
  background-color: white;
}
.Section3_item-title{
  margin-top: 30px;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}
.Section3_item-description{
  color: white;
  margin-top: 10px;
}
.Section3_item-description h4{
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.3;
}