.Section5_pd-top30{
  padding-top: 30px;
}
.Section5_pd-bottom30{
  padding-bottom: 30px;
}

.Section5_inner {
  max-width: 1550px;
  height: 100%;
  margin: 0 auto;
}
.Section5_container{
  height: 690px;
  padding: 160px 0;
  display: flex;
}
.Section5_left {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.Section5_left-title h2 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1;
}
.Section5_left-text {
  width: 70%;
  margin-top: 40px;
}

.Section5_right {
  width: 100%;
  height: 100%;
  margin-left: 8.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Section5_right-history{
  height: 30%;
}
.Section5_history-line{
  border-top: 1px solid black; 
  border-bottom: 1px solid black; 
  padding: 30px 0 30px;
}
.Section5_history-container{
  display: flex;
  justify-content: space-between;
}
.Section5_history-year{
  width: 10%;
}
.Section5_history-marker{
  width: 20%;
}
.Section5_history-description{
  width: 50%;
}