.Section2{
  background-color: #fa4529;
}
.Section2_inner {
  max-width: 1550px;
  height: 100%;
  margin: 0 auto;
}
.Section2_comtainer {
  height: 690px;
  display: flex;
  padding: 160px 0;
}
.Section2_left {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.Section2_left-title h2 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1;
}
.Section2_left-text {
  width: 70%;
  margin-top: 40px;
}
.Section2_left-text p {
  margin: 0 0 1.875rem;
  font-size: 1.125rem;
}

.Section2_right {
  width: 100%;
  margin-left: 8.3%;
}

.Section2_right-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}

.Section2_right-item {
  width: 80%;
  height: 10%;
  padding: 50px;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Section2_right-title {
  width: 20%;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}
.Section2_right-content {
  width: 40%;
  font-size: 1rem;
  letter-spacing: -.025em;
  line-height: 1.625;
}

