@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

a,
abbr,
address,
article,
aside,
audio,
body,
canvas,
caption,
cite,
dd,
details,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
img,
label,
legend,
li,
menu,
nav,
object,
ol,
p,
section,
span,
strong,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
ul,
video {
  font-family: "Pretendard-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Malgun Gothic", "맑은 고딕", 돋움, Dotum, sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  height: 10%;
  background: #fa4529;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1);
}
